[h1]{
	font-family: Bebas Neue;
	color:white  ; 
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 2px;

}
span{
	font-variant: small-caps;
	font-weight: bold;
	text-shadow: 2px 2px 3px #90EE90;
	color: white;

